body { 
    background-color: black;
    font-family: 'Arial', sans-serif;
}

.hero {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.25rem;
    font-weight: 500;
}

.table {
    border-collapse: collapse;
    overflow: hidden;
    color: white;
}

.table th {
    background-color: rgb(128, 0, 0);  
    color: white;  
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: white;
}

.table td {
    vertical-align: middle;
    padding: 0.75rem;
}

.highlight-row:hover {
    background-color: #eaf7f9;
    cursor: pointer;
}


h2 {
    color: rgb(152, 43, 28);
    font-weight: bold;
}


.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card .card-img-top {
    height: 200px;
    object-fit: cover;
}

.card .card-body {
    background-color: #343a40;
}

.card-title {
    color: rgb(152, 43, 28);
    font-weight: bold;
}


footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.social-icons a {
    color: white;
    font-size: 18px;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: rgb(152, 43, 28);
}


@media (max-width: 768px) {
    .social-icons {
        margin-top: 10px;
    }
    .social-icons a {
        font-size: 16px;
    }
}
